<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uncc.vedhasd.smartutility"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserRegister"
            android:label="@string/title_activity_user_register" >
        </activity>
        <activity
            android:name=".User_home"
            android:label="@string/title_activity_user_home" >
        </activity>
        <activity
            android:name=".Manage_Appliance"
            android:label="@string/title_activity_manage__appliance" >
        </activity>
        <activity
            android:name=".AddViewApp"
            android:label="@string/title_activity_add_view_app" >
        </activity>
        <activity
            android:name=".ViewApp"
            android:label="@string/title_activity_view_app" >
        </activity>
        <activity
            android:name=".EditApp"
            android:label="@string/title_activity_edit_app" >
        </activity>
        <activity
            android:name=".ViewSchedule"
            android:label="@string/title_activity_view_schedule" >
        </activity>
        <activity
            android:name=".ManageSchedule"
            android:label="@string/title_activity_manage_schedule" >
        </activity>
        <activity
            android:name=".PreView"
            android:label="@string/title_activity_pre_view" >
        </activity>
    </application>

</manifest>
